@mixin flexRow($wrap, $justify, $align) {
    display: flex;
    flex-flow: row $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexColumn($wrap, $justify, $align) {
    display: flex;
    flex-flow: column $wrap;
    justify-content: $justify;
    align-items: $align;
}